1. In the below elements which of them are values or an expression? eg:- values can be integer or string and       expressions will be mathematical operators.

   Answer: 
          'hello', -87.8, 6 are values and *, -, /, + are expressions(Mathematical operators.)

2. What is the difference between string and variable?

   Answer:
          String:- String is group of characters enclosed within "" or ''.
                eg: "Hello World!", 'World is beautiful'
                
          Variable:- Variable is a memory location to store values. It is represented by a symbolic name.
                eg:- a = 10, s_name = "Tess Jay"

In [4]:
# Eg:- String
"Hello World!"

'Hello World!'

In [5]:
'World is beautiful.'

'World is beautiful.'

In [8]:
# Eg:- Variables
a, s_name = 10, "Tess Jay"

In [9]:
a

10

In [10]:
s_name

'Tess Jay'

3. Describe three different data types.
   
    Answer:
        1. Integer:- Integer data type represents zero, positive and negative whole numbers. 
            int() function converts a string or a float to int.
            
        2. Float:- Float is used to represent positive or negative real numbers with a fractional part as well.
                   float() fuction converts a string or an int to float.
                   
        3. Bool:- Bool is used to represent True or False values. 
                  True has value 1 and False has value 0.
            
            Examples are given below:-

In [11]:
# Eg:- Integer data type
a = 10

In [12]:
type(a)

int

In [1]:
# Eg:- String data type
a = '10'
type(a)

str

In [15]:
a = int(10.5)
a

10

In [16]:
type(a)

int

In [17]:
float(10)

10.0

In [18]:
float('10.90')

10.9

In [20]:
a = '23.456'
float(a)

23.456

In [2]:
# Eg:- bool data type
flag = True
flag

True

In [23]:
flag = False
flag

False

In [26]:
a = True - False
bool(a)

True

In [27]:
a

1

In [28]:
type(a)

int

In [29]:
b = bool(a)
type(b)

bool

In [30]:
b

True

4. What is an expression made up of? What do all expressions do?

   Answer:
        An expression is made up of operands and operators.
        Each expression is evaluated to produce a particular value result. 
        An expression is being evaluated according to operator precedence. 
        
        Examples are given below:-

In [33]:
x = 200
y = 100
  
sum = x + y
difference = x - y
product = x * y
division = x / y
  
print('Sum = ',sum)
print('Difference = ',difference)
print('Product = ',product)
print('Division = ',division)

Sum =  300
Difference =  100
Product =  20000
Division =  2.0

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

   Answer:
        An expression is a combination of operands, operator, values and functions. A python interpretor
        interprets it to produce a value.
        
        A statement is an instruction. Python interpretor can execute it to carry out a particular task.
        
        Examples are given below:-

In [3]:
# Statements
a = 12
b = 45
print('a = ', a, 'b = ', b)

# Expression
result =  a + b - (3+7)

a =  12 b =  45

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Answer:
      'bacon' will contain 22

In [4]:
bacon = 22
bacon + 1

print('bacon = ', bacon)

bacon =  22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

Answer: spamspamspam 
        Both expressions will produce the same result. This is an example for string concatenation.

In [5]:
# Answer 
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Answer: A variable name can be a combination of alphanumeric characters and underscore character. 
        It must not start with a digit or number.
        'eggs' is a valid variable name as it is a combination of alphabetic characters. 
        100 is an invalid variable name as it is a literal.

In [14]:
eggs = 12
100 = 'Invalid'

SyntaxError: cannot assign to literal (2273873508.py, line 2)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
   
   Answer:
          int() is used to get integer version of a value.
          float() is used to get float version of a value.
          str() is used to get string version of a value.
        
   Examples are given below:-

In [16]:
a = int('100')
b = int(100.50)
c = float(100)
d = float(100.50)
e = str(100.50)
print('a = ',a , '\nb = ',b , '\nc = ',c ,'\nd = ',d, '\ne = ',e)

a =  100
b =  100
c =  100.0
d =  100.5
e =  100.5

In [17]:
type(a)

int

In [18]:
type(b)

int

In [19]:
type(c)

float

In [20]:
type(d)

float

In [21]:
type(e)

str

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

 Anser: 
        The above expression causes TypeError as concatenation operation can be carried out between two or more
        strings and it is not possible between int and str.
        
        This error can be corrected by type casting int to str.
        
        'I have eaten' + str(99) + 'burritos.'
                   
                          or
        
        'I have eaten' + '99' + 'burritos.'

In [23]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [25]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'