1. What exactly is []?
   
    Answer:-
        In python, an empty square bracket [] represents an empty list. 
        Also, it is used to access individual elements of tuple, string etc.

In [3]:
l = []
type(l)

list

In [4]:
t = (1,2,3)
t[0]

1

In [6]:
string = "Hello"
string[0]

'H'

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

    Answer:-

In [8]:
spam = [2,4,6,8,10]
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.

3. What is the value of spam[int(int('3' * 2) / 11)]?

Answer:- 
    '3' * 2 -> '33'
    int('33') -> 33
    int(33/11) -> 3
    spam[3] -> 'd'

In [10]:
spam = ['a','b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

In [11]:
ie;'3'*2

'33'

4. What is the value of spam[-1]?
    
    Answer:-
        spam[-1] -> 'd'

In [12]:
spam[-1]

'd'

5. What is the value of spam[:2]?

    Answer:-
        spam[:2] -> ['a', 'b']

In [14]:
spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

In [3]:
bacon = [3.14, 'cat', 11, 'cat', True]

#6. What is the value of bacon.index('cat')?

   # Answer:- 1
bacon.index('cat')

1

In [ ]:
#7. How does bacon.append(99) change the look of the list value in bacon?

#Answer:- [3.14, 'cat', 11, 'cat', True, 99]

In [5]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [6]:
#8. How does bacon.remove('cat') change the look of the list in bacon?

# Answer:- [3.14, 11, 'cat', True, 99]

bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

    Answer:- 
        + is the list concatenation operators.
        * is the list replication operator
        
Examples are given below:-

In [13]:
l1 = [1,2,3,4,5]
l2 = [7,8,9,10,11]
# List concatenation
[l1+l2]

[[1, 2, 3, 4, 5, 7, 8, 9, 10, 11]]

In [14]:
# List replication
l1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

10. What is difference between the list methods append() and insert()?

    Answer:-
        append() is used to append an element to the end of list.
        insert() is used to insert an element at a particular index position in the list.

Examples are given below:-

In [16]:
l = [1,2,3,4]
l.append(5)
l

[1, 2, 3, 4, 5]

In [25]:
l = [1,2,3,4,5]
l.insert(3,7)
l

[1, 2, 3, 7, 4, 5]

11. What are the two methods for removing items from a list?

    Answer:-
        pop(index) and remove(item) are the two methods for removing an element in a list.

Examples are given below:-

In [26]:
# Remove item with index 3
l.pop(3)
l

[1, 2, 3, 4, 5]

In [27]:
# Remove item with value 3
l.remove(3)
l

[1, 2, 4, 5]

12. Describe how list values and string values are identical.

    Answer:-
        In list and in string we access each element/character by its index.
        To access an element/character we use the square bracket [] with index.
        
Examples are given below:-

In [28]:
l = ['h','e','l','l','o']
for i in range(len(l)):
    print(l[i])

h
e
l
l
o

In [29]:
s = 'hello'
for i in range(len(l)):
    print(l[i])

h
e
l
l
o

13. What's the difference between tuples and lists?

       Answer:-
           Elements enclosed with in open and close parenthesis is called a tuple.
           (1,2,3)
           () indicates an empty tuple.
           tuples are immutable objects. ie' Its values can't be changed overtime.
           
           Elements enclosed with in open and close square brackets is called a list.
           [1,2,3]
           [] indicates an empty list
           lists are mutable objects. ie; Its values can be chenged anytime.
           
Examples:-

In [37]:
l = [1,2,3,4,5]
l[2] = 14
l

[1, 2, 14, 4, 5]

In [38]:
t = (1,2,3,4,5)
t[2] = 14
t

TypeError: 'tuple' object does not support item assignment

14. How do you type a tuple value that only contains the integer 42?

    Answer:-
        t = (42,)

In [41]:
# Considered as ordinary data type
t = (42)
type(t)

int

In [43]:
# Trailing comma at the end of element
t = (42,)
type(t)

tuple

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

    Answer:-
        Using the tuple() and list() functions

In [44]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [45]:
tuple(l)

(1, 2, 3, 4, 5)

In [46]:
t = (1,2,3)
t

(1, 2, 3)

In [47]:
list(t)

[1, 2, 3]

16. Variables that 'contain' list values are not necessarily lists themselves. Instead, what do they
contain?

    Answer:-
        List in a variable acts as an element. That contains references to list values.
       
Example:-

In [49]:
t = (1,2,[3,4,5])
for i in t:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'list'>

17. How do you distinguish between copy().copy() and copy.deepcopy()?

    Answer:-
        Suppose, l1 is a list.
        l2 = copy.copy(l1) is a shallow copy of list l1. That means both l1 and l2 are referencing to the same list object in memory. So, the changes we make in the list original list will also refect in l2 also.
        
        l3 = copy.deepcopy(l1) actually forms a new object/deep copy of the list object. So, whatever changes we make in the original list(l1) will not reflect in the deepcopy() list.

In [72]:
import copy
l1 = [1,2,[4,5],3]
# l1 and l reference same object in memory
l2 = copy.copy(l1)
l2

[1, 2, [4, 5], 3]

In [76]:
# Changes made in l1
l1.append(7)
# Reflected in l2 also
l2

[1, 2, [4, 5], 3, 7]

In [77]:
l1

[1, 2, [4, 5], 3, 7]

In [78]:
# l3 deep copy of l1
l3 = copy.deepcopy(l1)
l3

[1, 2, [4, 5], 3, 7]

In [79]:
# Changes made in l1
l1.append(8)
l1

[1, 2, [4, 5], 3, 7, 8]

In [80]:
# Changes made in l1 is not reflected in l3(deepcopy of l1)
l3

[1, 2, [4, 5], 3, 7]