1.What are the two values of the Boolean data type? How do you write them?
  
  Answer: Two values of the boolean data type are 'True' and 'False'.
          
          We can write it as:-

In [4]:
a = True
b = False

In [6]:
a

True

In [7]:
b

False

In [12]:
# True = 1
# False = 0
True + True - False * True + True

3

2. What are the three different types of Boolean operators?

   Answer: Three different types of boolean operators are 'and', 'or' and 'not'.

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

In [14]:
# Truth table 'and'
False and False

False

In [15]:
False and True

False

In [16]:
True and False

False

In [17]:
True and True

True

In [18]:
# Truth table 'or'
False or False

False

In [19]:
False or True

True

In [20]:
True or False

True

In [21]:
True or True

True

In [22]:
# Truth table 'not'
not False

True

In [23]:
not True

False

4. What are the values of the following expressions?

In [24]:
(5 > 4) and (3 == 5) # Answer 'False'

False

In [25]:
not (5 > 4) # Answer 'False'

False

In [26]:
(5 > 4) or (3 == 5) # Answer 'True'

True

In [27]:
not ((5 > 4) or (3 == 5)) # Answer 'False'

False

In [28]:
(True and True) and (True == False) # Answer 'False'

False

In [29]:
(not False) or (not True) # Answer 'True'

True

5. What are the six comparison operators?
   
   Answer:- 
           > , < , >= , <= , == , !=

In [31]:
50 > 49   # Greater than

True

In [32]:
50 < 51  # Less than

True

In [33]:
50 >= 50  # Greater than or equal to

True

In [34]:
50 <= 50  # Less than or equal to

True

In [35]:
50 == 50  # Equal to

True

In [36]:
50 != 60  # Not equal to

True

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

  Answer: 
         The 'Equal to (==)' operator is used to check whether the values of two operands are equal or not.
         
         The 'Assignment (=)' operator is used to assign value on the right side to operand on the left side.
 
 Examples are given below:-

In [39]:
a = 35
b = 40
# Equal to operator compare values of a and b
a == b

False

In [41]:
a

35

In [42]:
b

40

In [44]:
# Assigning value of b to a
a = b
a

40

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

Answer:
spam = 0
# block 1
if spam == 10:
print('eggs')
# block 2
if spam > 5:
print('bacon')
# block 3
else:
print('ham')
print('spam')
print('spam')

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

   Answer:

In [45]:
spam = 2
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

Howdy

9.If your programme is stuck in an endless loop, what keys you’ll press?
  
    Answer:Ctrl + C

10. How can you tell the difference between break and continue?
  
    Answer:-
           'break' statement is used to terminate execution of the current loop and passes the control to the next statement after the loop.
           
           'continue' statement is used to skip the current iteration of the loop and starts with the next iteration of the loop.
        
Examples are given below:-

In [50]:
# Use of break statement
# Terminates the while loop when count becomes 10
count = 0
while True:
    if count == 10:
        break
    print(count)
    count += 1
print("Happy counting!")

0
1
2
3
4
5
6
7
8
9
Happy counting!

In [4]:
# Use of continue statement
# Loop skips the current iteration and jump to the next iteration when the if condition becomes true(ie; count = 5)
count = 0                    
while count < 10:
    count = count + 1
    # Skipped printing of value 5
    if count == 5:
        continue
    print(count)
print('Happy counting!')

1
2
3
4
6
7
8
9
10
Happy counting!

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
    
    Answer:
        
        In range(10), loop iterates 10 times from 0 to 9. It considers lower limit as zero and it excludes the upper limit(ie; 10) also.
        
        Syntax: range(upperlimit)
        
        In range(0, 10), loop iterates 10 times from 0 to 9. Here, lower limit '0' and upper limit '10' are explicitly specified. It excludes the upper limit 10.
        
        Syntax: range(lower limit, upper limit)
            
        In range(0, 10, 1), loop iterates 10 times from 0 to 9. Here, lower limit '0', upper limit '10' and step '1' are explicitly specified. It excludes the upper limit 10.
        
        Syntax: range(lower limit, upper limit, step)
        
Examples are given below:-

In [4]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [5]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(0, 10, 1):
    print(x)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

Answers are given below:

In [12]:
# Prints the numbers 1 to 10 using a for loop
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [10]:
# Prints the numbers 1 to 10 using a while loop
x = 1
while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

    Answer:
    
          import spam

          spam.bacon()